/* キャラクター選択ページ */

.character-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* 3列に分割 */
  gap: 10px; /* 列と列の間隔 */
  padding: 20px;
}

.character-item {
  border: 3px solid darkgreen;
  border-radius: 10px;
  padding: 10px;  
  align-items: flex-start; /* 高さを要素の上に合わせる */
}

.character-content {
  display: flex;
}

.character-image {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: flex-end; /* 画像を下に配置する */
}


.character-image img {
  width: 180px; /* 画像の幅 */
  height: auto; /* 高さは自動調整 */
}
/* キャラクター説明文 */
.character-description h1 {
  border-bottom: 2px solid darkgreen;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
}
.character-description h2 {
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 1px solid darkgreen;
}
/*  */
.character-item .character-info {
  margin-top: 10px;
  text-align: center;
}

/* キャラクター選択画面ボタン */
.character-submit {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.character-radio {
  margin-top: auto;
  text-align: center;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}
.character-btn {
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 50px;
  background-color:coral;
  color:white;
  border: 1px solid chocolate;
} 