/* キャラクター選択ページ */

.character-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* 3列に分割 */
  gap: 10px; /* 列と列の間隔 */
  padding: 20px;
}

.character-item {
  border: 3px solid darkgreen;
  border-radius: 10px;
  padding: 10px;  
  align-items: flex-start; /* 高さを要素の上に合わせる */
}

.character-content {
  display: flex;
}

.character-image {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: flex-end; /* 画像を下に配置する */
}


.character-image img {
  width: 180px; /* 画像の幅 */
  height: auto; /* 高さは自動調整 */
}
/* キャラクター説明文 */
.character-description h1 {
  border-bottom: 2px solid darkgreen;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
}
.character-description h2 {
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 1px solid darkgreen;
}
/*  */
.character-item .character-info {
  margin-top: 10px;
  text-align: center;
}

.character-radio label {
  display: inline-block;
  padding: 0 20px;
  background-color:darksalmon;
  color:white;
  font-weight: 800;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.character-radio label:hover {
  background-color: orangered;
}

.character-radio label:active {
  background-color:tomato;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* ラジオボタンが選択された状態 */
.character-radio input[type="radio"]:checked + label {
  background-color: orangered;
  border: 2px solid red;
}