<header class="header">
  <div class="top-logo">
    <%= link_to "Chattervox","/", class:"logo" %>
  </div>
  <% if user_signed_in? %>
  <ul class="menu-lists">
    <li><%=link_to "マイページ","/" , class:"menu-list" %>
    <li><%=link_to "キャラクター選択", characters_path, class:"menu-list" %>
    <li><%=link_to "背景設定",  backgrounds_path, class:"menu-list" %>
  </ul>
  <% end %>
</header>