<% if user_signed_in? %>
  <div class="side_bar">
    <div class="history">会話履歴</div>    
    <div class="side_bar_top">      
      <div class="conversation-history">
        <% @conversations.each do |conversation| %>
          <div class="conversation">
            <%= link_to conversation.content, "#", class: "conversation-link", data: { content: conversation.content, chatbot_reply: conversation.chatbot_reply } %>
            <%= link_to conversation_path(conversation), remote: true, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete-link" do %>
            <i class="fa-solid fa-eraser icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="side_bar_footer">
      <%= form_with(url: destroy_user_session_path, method: :delete) do |f| %>
        <%= f.submit 'ログアウト', class: 'logout-button' %>
      <% end %>
    </div>
  </div>
<% end %>