/* ボタン */

/* 会員登録ボタン */
.register-btn {
  text-align: center;
}

.register-red-btn {
  font-size: 20px;
  font-weight: 700;
  background-color:lightsalmon;
  border: 3px solid chocolate;
  border-radius: 30px;
  color: white;
  width: 300px;
  height: 50px;
}

/* ログインボタン */
.login-btn {
  margin-top: 50px;
  text-align: center;
}

.login-red-btn {
  font-size: 20px;
  font-weight: 700;
  background-color:lightsalmon;
  border: 3px solid chocolate;
  border-radius: 30px;
  color: white;
  width: 300px;
  height: 50px;
}

/* ログアウトボタン */
.side_bar_footer {
  display: flex;
  justify-content: center;
  background-color:rgb(255, 240, 221);
  height: 90px;
  padding-right: 10px;
  line-height: 90px;
}

.logout-button {
  height: 50px;
  width: 200px;
  font-size: 24px;
  border-radius: 30px;
  display: inline-block;
  padding: 8px 16px;
  background-color:lightsalmon;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.logout-button:hover {
  background-color:orangered;
}

.logout-button:active {
  background-color:darksalmon;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* ユーザーテキスト送信ボタン */
.form-submit {
  background-color: lightsalmon;
  border: none;
  color: white;
  font-size: 28px;
  height: 60px;
  width: 200px;
  padding: 0 20px;
  margin-left: 15px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.form-submit:hover {
  background-color:orangered;
}

.form-submit:active {
  background-color:darksalmon;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* キャラクター選択画面ボタン */
.character-submit {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.character-radio {
  margin-top: auto;
  text-align: center;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  display: none;
}
.character-btn {
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 50px;
  background-color:coral;
  color:white;
  border: 1px solid chocolate;
} 