.background-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr); /* 3列に分割 */
  gap: 10px; /* 列と列の間隔 */
  padding: 20px;
}

.background-items {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px 5px;
}

.background-item img {
  width: 300px; /* 画像の幅を指定 */
  height: 200px; /* 高さは自動調整 */
  border: outset 10px #B37D4D;
  object-fit: cover;
}
.background-submit {
  text-align: center;
}

.background-radio {
  margin-top: 10px;
}

/* ボタンのスタイル */
.background-radio label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 800;
  background-color:white;
  color:black;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  border: outset 5px #B37D4D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.background-radio label:hover {
  background-color: white;
}

.background-radio label:active {
  background-color:tomato;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* ラジオボタンが選択された状態 */
.background-radio input[type="radio"]:checked + label {
  border: 5px solid orangered;
}


/* テキストのスタイル */
.background-radio span {
  margin-left: 10px;
}

