.background-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr); /* 3列に分割 */
  gap: 10px; /* 列と列の間隔 */
  padding: 20px;
}


.background-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px 5px;
}

.background-item img {
  width: 300px; /* 画像の幅を指定 */
  height: 200px; /* 高さは自動調整 */
  border: outset 10px #B37D4D;
  object-fit: cover;
}
.background-submit {
  text-align: center;
}

.background-radio {
  margin-top: 10px;
}