.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:antiquewhite;
  padding: 30px;
}

.background-item {
  width: 33.33%; /* 3つずつの場合は幅を33.33%にする */
  /* その他のスタイル設定 */
}
.background-image {
  width: 400px;
  height: 200px;
}